#headshot {
    margin: auto;
    width: 500px;
    height: 500px;
    display:flex;
}

header{
    background-color: dodgerblue;
    border-bottom: 4px soild blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
body{
background-color: lightskyblue;
}